<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaQVcWBFc0yo1hc6dPzbn1buuF59GAFYA</string>
	<key>GCM_SENDER_ID</key>
	<string>847634206734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.presents.unicafe</string>
	<key>PROJECT_ID</key>
	<string>unicafe-9b1e8</string>
	<key>STORAGE_BUCKET</key>
	<string>unicafe-9b1e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847634206734:ios:97f37117e5590e4268ac5f</string>
</dict>
</plist>